
.leaflet-container {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.full-height {
    height: 100vh;
}

body {
    margin : 0px;
    background: #d9d9d9;
}

.navbar {
    background: #162834;
    z-index: 5
}

.navbar-brand {
    margin-left: 1em;
}

.navbar-position {
    position: absolute;
    top: 1em;
    left: 2em;
    margin-top: 1em;
}