
$navbar-height: 4rem;

.leaflet-container {
    height: 100vh;
    width: 100%;
    z-index: 0;
    font: 13px/1.5 "Source Sans Pro",sans-serif;
}

.full-height {
    height: 100vh;
}

body {
    margin : 0px;
    background: #d9d9d9;
}

.navbar {
    background: #162834;
    z-index: 5
}

.navbar-brand {
    margin-left: 1em;
}

.navbar-position {
    position: absolute;
    top: 1em;
    left: 2em;
    margin-top: 1em;
}

.passenjr-navbar {
    position: relative;
    height: $navbar-height;
}

.leaflet-map {
    /*position: relative;*/
    width: 100%;
    height: calc(100vh - $navbar-height);
}

.custom-navbar {
    position: fixed;
    width: calc(100vw - 3rem);
    margin: 1.5rem;
    height: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: #162834;
    z-index: 1;
    border-radius: 1.3rem;
    box-shadow: 1px 1px 5px rgba(grey, 0.3);
}

.nav-logo {
    margin-left: 1.5rem;
}

.map-span .leaflet-popup-content-wrapper{
    background-color: #3f4f67 !important;
    color: #d9d9d9 !important

}

.leaflet-popup-tip {
    background-color: #3f4f67
    
}

body {
    font-family: "Source Sans Pro",sans-serif;
}